{% extends 'cursos/base.html' %}

{% block desc %} Añadir un alumno{% endblock %}

{% block main %}
            
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Añadir Alumno</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Guardar</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}