{% extends 'cursos/base.html' %}

{% block desc %} Búsqueda de curso{% endblock %}

{% block main %}
            
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Buscar Curso</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" method="get">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Guardar</button></div>
                </form>

                {% if search_performed %}
                    <ul class="list-group mt-3">
                        {% for curso in results %}
                            <li class="list-group-item">{{ curso.titulo }} - Profesor: {{ curso.profesor.nombre }} {{ curso.profesor.apellido }}</li>
                        {% empty %}
                            <li class="list-group-item">No se encontraron cursos.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}